@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu.woff) format('woff'), url(../fonts/ubuntu.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Ubuntu';
    background-color: #fff;
    margin:auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #f7033c;
}

.header__container {
    padding-left: 57px;
    width: 963px;
    display: flex;
    margin: auto;
    height: 80px;
}

.logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__item + .list__item {
    margin-left: 30px;
}

.list__link {
    position: relative;
    text-transform: uppercase;
}

.list__link--active {
    border-bottom: 2px solid #fff;
}

.list__link:hover {
    border-bottom: 2px solid #fff;
}

.section {
    width: 1020px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.text {
    font-size: 48px;
    font-family: "Ubuntu";
    color: rgb(86, 86, 86);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 36.938px;
    top: 10.761px;
    width: 570px;
    height: 162px;
    z-index: 27;
}

.top {
    background-color: #bde9fc;
    height: 645px;
    width: 100%;
}

.team {
    height: 688px;
    width: 100%;
}

.info {
    display: block;
    text-align: center;
    padding-top: 40px;
}

.info__title {
    font-size: 30px;
    color: rgb(255, 51, 51);
    line-height: 1.2;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.line {
    display: block;
    margin-top: -20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 95px;
    height: 3px;
    background-color: rgb(255, 51, 51);
}

.info__content {
    display: flex;
    margin-left: 180px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    width: 660px;
    padding-bottom: 56px;
}

.table__team {
    display: flex;
    padding-bottom: 40px;
    margin-left: 160px;
}

.table__cell+.table__cell {
    margin-left: 20px;
}

.table__cell {
    display: flex;
    justify-content: center;
    background-color: #dddd;
    width: 220px;
    height: 220px;
}

.first {
    background-image: url(../images/1tr.png);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-top: 12px;
}

.second {
    background-image: url(../images/2tr.png);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-top: 12px;
}

.third {
    background-image: url(../images/3tr.png);
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-top: 12px;
}

.name__1 {
    display: flex;
    padding-top: 140px;
    font-weight: 700;
    width: 220px;
    color: rgb(255, 51, 51);
    margin: 0;
    margin-left: -10px;
}

.name__2 {
    display: flex;
    padding-top: 140px;
    font-weight: 700;
    width: 220px;
    color: rgb(255, 51, 51);
    margin: 0;
    margin-left: -22px;
}

.name__3 {
    display: flex;
    padding-top: 140px;
    font-weight: 700;
    width: 220px;
    color: rgb(255, 51, 51);
    margin: 0;
    margin-left: -4px;
}

.subtitle {
    color: black;
    margin: 0;
    font-weight: 600;
}

.table__forma {
    display: flex;
    padding-bottom: 40px;
    margin-left: 200px;
}

.forma+.forma {
    margin-left: 40px;
}

.forma {
    width: 140px;
    margin-left: -20px;
}

.forma__title {
    margin: 0;    
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    line-height: 1.125;
}

.footer__bg {
    display: flex;
    margin-top: 1470px;
    width: 100%;
    background-color: #f7033c;
    height: 134px;
}

.footer {
    background-color: #f7033c;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer__line {
    display: flex;
    height: 134px;
    width: 100%;
}

.inline {
    font-size: 14px;
    line-height: 1.2;
    left: 40px;
    margin-bottom: 0%;
    margin-top: 85px;
    margin-left: -200px;
}