*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/ubuntu.woff) format('woff'), url(../fonts/ubuntu.woff2) format('woff2');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Ubuntu';
    background-color: #fff;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.header {
    background-color: #f7033c;
}

.container {
    padding-left: 57px;
    width: 1020px;
    display: flex;
    margin: auto;
    height: 80px;
}

.logo {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 54px;
}

ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__item + .list__item {
    margin-left: 30px;
}

.list__link {
    position: relative;
    text-transform: uppercase;
}

.list__link--active {
    border-bottom: 2px solid #fff;
}

.list__link:hover {
    border-bottom: 2px solid #fff;
}

.top {
    position: relative;
}

.top::after {
    background: #bde9fc;
    position: absolute;
    content: '';
    top: 0;
    height: 640px;
    width: 100%;
}

.top__image {
    background: url(../images/team.png) center no-repeat;
    position: relative;
    z-index: 1;
}

.top__container {
    height: 688px;
    width: 1020px;
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.title {
    font-weight: normal;
    font-size: 48px;
    color: #565656;
    line-height: 1.2;
    width: 535px;
    margin: 57px 0 0 40px;
}

.info {
    display: inline;
    width: 1020px;
    text-align: center;
    padding-top: 40px;
}

.info__title {
    color: #ff3333;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 19px;
    font-weight: normal;
}

.info__title--line {
    position: relative;
}

.info__title--line::after {
    background-color: #ff3333;
    position: absolute;
    content: '';
    width: 95px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    top: 48px;
}

.info__content {
    font-size: 20px;
    line-height: 1.2;
    margin: 24px auto 56px;
    width: 660px;
}

.team {
    display: flex;
    margin-bottom: 37px;
    justify-content: center;
}

.team__block + .team__block {
    margin-left: 20px;
}

.team__block {
    background-color: #dddddd;
    width: 220px;
    height: 220px;
}

.avatar {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-top: 12px;
}

.name {
    color: #ff3333;
    margin-top: 16px;
    text-transform: uppercase;
}

.list__forma {
    display: flex;
    padding-right: 50px;
    margin-bottom: 37px;
    justify-content: center;
    align-items: baseline;
}

.forma + .forma {
    margin-left: 30px;
}

.forma {
    width: 140px;
}

.forma__title { 
    font-size: 16px;
    line-height: 1.125;
}

.footer {
    background-color: #f7033c;
}

.inline {
    font-size: 14px;
    line-height: 1.2;
}